/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar Styles */
nav {
    background-color: #967259;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    height: 30px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #ece0d1;
}

/* Footer Styles */
.footer {
    background-color: #8B5E3C; /* Adjust the color as needed */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

.footer-content {
    margin: 0 auto;
    max-width: 1200px;
}


/* Logo Styles */
.logo {
    height: auto;
    width: 50px;
    margin-right: auto;
}

/* Nav Icon Styles */
.nav-icon {
    width: 50px;
    height: auto;
    vertical-align: middle;
    display: flex;
    margin-left: auto;
}

