.contact{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-details {
    margin-bottom: 1em;
}

.contact-details p {
    margin: 0.5em 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

form input, form textarea {
    padding: 0.4em;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form select {
    padding: 0.4em;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30cm; 
    box-sizing: border-box;
}


form select option {
    padding: 0.4em;
}


form select:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    margin-top: 1em;
    padding: 0.6em;
    font-size: 1em;
    color: white;
    background-color: #967259;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}