/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar Styles */
nav {
    background-color: #967259;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    height: 30px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #ece0d1;
}

/* Footer Styles */
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    width: 100%;
    background-color: #967259;
}

/* Logo Styles */
.logo {
    height: auto;
    width: 50px;
    margin-right: auto;
}

/* Nav Icon Styles */
.nav-icon {
    width: 50px;
    height: auto;
    vertical-align: middle;
    display: flex;
    margin-left: auto;
}

