#menu-container {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

#menu-container h2 {
    color: #444;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

#menu-container h3 {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

#menu-container .menu-section {
    margin-bottom: 2em;
}

#menu-container .menu-section h3 {
    border-bottom: 2px solid #e3c17b;
    padding-bottom: 0.5em;
}

#menu-container ul {
    list-style: none;
    padding: 0;
}

#menu-container li {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    border-bottom: 1px solid #e3c17b;
}

#menu-container li span:first-child {
    font-weight: bold;
}

#menu-container li span:last-child {
    color: #999;
}

#menu-container .syrups {
    color: #777;
    font-style: italic;
    margin-top: 0.5em;
    text-align: center;
}



